version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: decision-postgres
    environment:
      POSTGRES_USER: rate_limiter
      POSTGRES_PASSWORD: "0325"
      POSTGRES_DB: rate_limiter
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rate_limiter -d rate_limiter"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: decision-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
  app:
    build: .
    container_name: rate-limiter-api
    depends_on:
       postgres:
        condition: service_healthy
       redis:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://rate_limiter:0325@postgres:5432/rate_limiter
    env_file:
      - .env
    ports:
      - "8000:8000"

volumes:
  postgres_data:


